* {
    font-family: Georgia, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    height: 1800px;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 25%;
    background-color: #002147;
    position: -webkit-sticky;
    position: sticky;
}

.content {
    display: flex;
    flex: 75%;
    flex-direction: column;
}

.Logo {
    display: flex;
    flex: 2.5;
    flex-direction: column;
}

.Logo_img {
    display: flex;
    flex: 5;
    margin-bottom: 0px;
    margin-left: 25px;
}

.Logo_text {
    display: flex;
    margin-top: 0px;
    flex: 2;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.Logo_img-responsive {
    width: 80%;
    height: 95%;
}

.List {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.Item {
    display: flex;
    margin-top: 0px;
    flex: 0.8;
    flex-direction: row;
}

.Item_Left {
    margin-left: 15px;
    flex: 5;
}

.Item_Right {
    flex: 7; 
    color: rgba(255, 255, 255, 0.7);
}

.Item_Right:hover {
    color: rgba(255, 255, 255, 0.7);
}

.icons_contact {
    margin-top: 30px;
    flex: 0.5;
    margin-bottom: 10px;
}

.contact_link {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contact_link-description {
    flex: 1;
}

.icons_container {
    display: grid;
    flex: 5;
    grid-template-columns: auto auto auto auto;
    gap: 0px;
    padding: 0px;
    background-color: #002147;
}

.icons:hover {
    color: rgba(255, 255, 255, 0.7);
}

.icons_container > div {
    background-color: #002147;
    text-align: center;
    padding: 30px 0;
    font-size: 30px; 
}

.Contact {
    display: flex;
    flex: 5;
}

.navbar {
    display: none;
}

.content_banner {
    margin-top: 0px;
    height: 800px;
    width: 100%;
    margin-bottom: 40px;
    
}

@keyframes example {
    0% {background-image: url('japan_bg4.jpg');}
    25% {background-image: url('sushi.jpg');}
    50% {background-image: url('japan_bg3.jpg');}
    100% {background-image: url('japan_bg2.png');}
}

.content_heading {
    margin-top: 40px;
    height: 100px;
    width: 100%;
    margin-bottom: 40px;
}

.content_heading-head {
    text-align: center;
}

.content_heading-body {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 180px;
    margin-right: 180px;
    font-size: 16px;
}

.search {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 40px;
    width: 100%;
    height: 150px;
    margin-bottom: 40px;
}

.search_desc {
    flex: 2;
}
.search_container {
    display: flex;
    flex: 3;
    flex-direction: row;
}
.search_box {
    flex: 7;
    border: 4px solid;
    margin-left: 220px;
    height: 40px;
    border-radius: 5px;
}

.search_icon {
    flex: 3;
}

.articles {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 1000px;
}

.articles_desc {
    flex: 0.8;
}

.articles_container {
    display: grid;
    flex: 6;
    grid-template-columns: auto auto;
    gap: 0px;
    padding: 20px;

}

.footer {
    display: none;
}



